#!/bin/bash -ex

set -o pipefail

RUNNER_ORG=cloudeteer
RUNNER_REPO=playground-stackit
RUNNER_TOKEN=${runner_token} # Terraform Template Value
RUNNER_ARCH=${runner_arch}   # Terraform Template Value
RUNNER_LABELS=self-hosted
# update this to the latest version
RUNNER_VERSION=2.322.0

# Update system
apt update -qq
apt install unzip

# Install docker
curl https://get.docker.com | sh

cat >/etc/cron.daily/docker-prune <<EOF
docker image prune -a --filter="until=96h" --force
docker volume prune --force
EOF
chmod a+x /etc/cron.daily/docker-prune

# Install STACKIT CLI
curl https://packages.stackit.cloud/keys/key.gpg | gpg --yes --dearmor -o /usr/share/keyrings/stackit.gpg
echo "deb [signed-by=/usr/share/keyrings/stackit.gpg] https://packages.stackit.cloud/apt/cli stackit main" |
  tee -a /etc/apt/sources.list.d/stackit.list
apt-get update
apt-get install stackit

# Create dedicated user
useradd -m -d /home/runner -s /bin/bash runner
usermod -G docker runner

# Download and install runner script
cd /home/runner
mkdir -p actions-runner
cd actions-runner
curl -o actions-runner-linux-x64-$RUNNER_VERSION.tar.gz -L https://github.com/actions/runner/releases/download/v$RUNNER_VERSION/actions-runner-linux-$RUNNER_ARCH-$RUNNER_VERSION.tar.gz
tar xzf ./actions-runner-linux-x64-$RUNNER_VERSION.tar.gz

# Configure runner
su - runner -c "
/home/runner/actions-runner/config.sh --url https://github.com/$RUNNER_ORG/$RUNNER_REPO --token $RUNNER_TOKEN --labels $RUNNER_LABELS --unattended --replace
"

# Setup systemd scripts
cd /home/runner/actions-runner/
./svc.sh install runner
./svc.sh start
./svc.sh status
